extends layout

block content
  h1= title
  - var image_names = ['modelx','modelx1','modely','modely1','model3']
  - for(let i=0; i<3; i++) {
    - var num = Math.floor(Math.random()*5)
    - var image = image_name[num]
    img(src="modelx.jpg", alt="modelx", height="500", width="500")
  }