extends layout

block content
  h1= title
  - var results = ['Model: X Year: 2015 Price: 45,000']
  div(class='container-fluid')
    div(class='row')
  each item in results
    div(class='col-sm-2') #{item}
  

